*{
    padding: 0;
    margin: 0;
    
}

.container{
    width: 1000px;
    height: 500px;
    background-color: #fff;
    margin:auto;
    padding-top:170px ;
    padding-bottom:150px ;
    

}
.white{
    width:50%;
    min-height:400px;
    background-color:rgb(172, 81, 175);
    float:left;
}
.blue{
    width:50%;
    min-height:400px;
    background-color:blue;
    float:right;
}
.box1,.box2{
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 150px;
    color:white;

}
p{
    padding:10px
}
/* .box2{
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 150px;
    color:white;

} */
.box2 h3{
 font-size: 26px;
}
.box2 button{
    width: 200px;
    text-align: center;
    padding:5px;
    border-radius: 15px;
    border: none;
}